.img {
    width: 50%;
}

.title {
    padding: 25px 0px;
    font-size: 2em;
    font-weight: 700;
}

.btn {
    margin-top: 10px;
}

.container {
    text-align: center;
}

.table {
    text-align: center;
}

.table td {
    vertical-align: middle;
}

