.section {
    display: flex;
    gap: 16px;
    padding: 32px 0px;
}

.divConsulta {
    text-align: left;
}

.divConsulta h2,
.divConsulta h3 {
    padding: 16px 0px;
}

.foto img {
    width: 350px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.divBtn {
    display: flex;
    justify-content: end;
    padding: 32px 0px;
}

.igroup {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.checkbox {
    display: flex;
    align-items: center;
}

.igroup span {
    background-color: transparent;
    border: none;
}

.btn {
    color: #fff;
    padding: 10px 15px;
    background-color: #0fa3c0;
    border: none;
}

.btn:hover {
    background-color: #0dcaf0;
}

.titleConsultas {
    padding-bottom: 16px;
    font-weight: 700;
}

.consultas {
    text-align: left;
    padding: 32px 16px;
}