.btn {
    color: #fff;
    padding: 10px 15px;
    background-color: #0fa3c0;
    border: none;
}

.btn:hover {
    color: #fff;
    background-color: #0dcaf0;
}

.buttonsContainer {
    padding-top: 10px;
}